---
//Styles and scripts

//Layouts
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.astro';
import Flexbox from '../components/flexbox.astro';
import DaisyDemo from '../components/DaisyDemo.astro';

//Components

//Props
---

<Layout pageTitle="DaisyUI Demo">
	<Hero pageTitle="DaisyUI Demo" tagline="Check The DaisyUI Docs for more examples">
        <a href="https://daisyui.com/components/" target="_blank" class="btn btn-primary">DaisyUI Docs</a>
    </Hero>
	<DaisyDemo></DaisyDemo>
</Layout>
