---
//Styles and scripts

//Layouts
import Layout from '../layouts/Layout.astro';

//Components

//Props
---

<Layout pageTitle="Title" theme="patience">
	<h1>Hello, Astro!</h1>
	<button class="btn btn-soft">Button</button>
	<p>Lets make the footer Sticky.</p>
</Layout>
