---
//Styles and scripts

//Layouts
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.astro';
import Flexbox from '../components/flexbox.astro';
import Form from '../components/form.astro';

//Components

//Props
---

<Layout pageTitle="Home">
	<Hero pageTitle="NO MORE MONDAYS!" tagline="Web Theme Building with Astro!">	
	</Hero>
	<Form></Form>
</Layout>
