---
---

<p>Flexbox Component</p>
<div class="container">
    <div class="item btn">A</div>
    <div class="item btn btn-primary">B</div>
    <div class="item btn btn-secondary">C</div>
    <div class="item">D</div>
    <div class="item">E</div>
</div>

