---
import '../styles/global.css'
---

<div class="flex flex-col gap-4 p-4 bg-base-100 rounded-box">
    <form>
        <p class="font-bold text-lg">Contact Form</p>
        <input type="text" placeholder="123 Street, State, zip" class="input" name="Address"/>
  <br class="h-1"><br>
        <input type="text" placeholder="Email" class="input" name="Email"/>
        <br class="h-"><br>
        <input type="text" placeholder="Phone" class="input" name="Phone"/>
        <br class="h-2"><br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
<!-- Start of Meetings Embed Script -->
    <div class="meetings-iframe-container" data-src="https://meetings-na2.hubspot.com/nicholas-moorman?embed=true"></div>
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <!-- End of Meetings Embed Script -->