---
const { pageTitle = "Page Title" } = Astro.props;
---		
        <header class="fixed top-0 w-full border-b backdrop-blur h-16 flex">
			<nav class=>
				{/* Site Title */}
				<h1>{pageTitle}</h1>
			</nav>
		</header>