---
import '../styles/global.css';


const { pageTitle = "Page Title" } = Astro.props;
---		
        <header>
			<div class="container">
				<content>
					<h1>{pageTitle}</h1>
					<nav>
					</nav>
				</content>
			</div>
		</header>