---
---
<hero>
    <container class="bg-base-200 min-h-104">
        <div class="h-16"></div>
        <div class="text-center">
            <h1 class="text-5xl font-bold">
                Patient Endurance Podcast
            </h1>
            <p class="py-6">The Old and New Testament connect to provide  details of Jesus’ first coming to defeat Satan at the cross. In these same books, the Bible also provides details of Jesus’ rapidly approaching return. Share our journey to unlock these details.</p>
            <button class="btn btn-">Listen Now</button>
    </container>
</hero>

