---
import "../styles/global.css";
---
<hero>
        <div class="text-center pt-16 min-h-75 bg-base-200 border-b">
            <h1 class="text-5xl font-bold">
                Daisy UI Demonstrations
            </h1>
            <p class="py-6">Wow! Would you look at that!</p>
        </div>
</hero>

