---
import "../styles/global.css";
import { site } from '../data/site';

//Components
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

//JS
const { theme = site.defaultTheme, pageTitle = "Page Title"} = Astro.props || {};
const fullTitle = site.title + " | " + pageTitle;
---

<!doctype html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{fullTitle}</title>
	</head>

	<body>
		<Header pageTitle={pageTitle} />
		<div class="h-32"></div>

		<main>
			<slot />
		</main>

		<Footer />
	</body>

</html>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
</style>
